<div class ="header">
<div class="title">ARTycles</div>
<div>Your go-to for artsy articles!</div>
</div>

<div class="container-row">
  <div class="left"> 

    <div class="comments">
      <div class="title-comment">Comments</div>
      <%= render @article.comments %>
    </div>

    <div class="add-comment">
      <div class="title-comment">Add a comment:</div>
      <%= render 'comments/form' %>
    </div>    
  </div>

  <div class="right">
    <div>
      <%= link_to "Back to Articles", articles_path %>
    </div>
    <div class="title">
      <%= @article.title %>
    </div>
    <div class="content">
      <%= @article.body %>
    </div>

    <div class="edit-delete">
      <div>
        <%= link_to "Edit", edit_article_path(@article) %>
      </div>
      <div>
        <%= link_to "Delete", @article , 
                        method: :delete, 
                        data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div>Site by Taylor Rusthoven</div>
  <div>Copyright 2022</div>
</div>